<%= form_for(@blog_article) do |f| %>
  <% if @blog_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_article.errors.count, "error") %> prohibited this blog_article from being saved:</h2>

      <ul>
      <% @blog_article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>Заголовок:</h2><br>
    <%= f.text_field :Title %>
  </div>
  <div class="field">
      <h2>Короткий вариант:</h2><br>
      <%= f.cktext_area :short, rows: 50 %>
  </div>
  <div class="field">
    <h2>Статья:</h2><br>
    <%= f.cktext_area :Body, rows: 50 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
